.class1{
    background-color: brown; text-align: justify; color: white;

}
.class2{
    background-color: blueviolet; text-align: justify; color: white;

}
.class3{
    background-color: cadetblue; text-align: justify; color: white;

}