.class1{
    background-color: brown; text-align: justify; color: white;

}
.class2{
    background-color: blueviolet; text-align: justify; color: white;

}
.class3{
    background-color: cadetblue; text-align: justify; color: white;

}

.body{
    background-image: url("img/newpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}








